node_modules/
.ntvs_analysis.dat
.ntvs_analysis.dat.tmp
obj/Debug/powwowAPI.njsproj.FileListAbsolute.txt
/iisnode
/.vs/config/applicationhost.config
/UpgradeLog.htm
/bin
/obj/Debug
/.vs/powwowAPI/v14
/.idea
.idea
